/* CSS Document */

.bredcolor{color:#fff;}
.radiotabs {width:100%;
	
	background:#f2f2f2;}

input.tabs {display:none;}
input.tabs + label {
	display:block; font:normal 12px/30px arial, sans-serif;
	text-decoration:none;  
	float:left;
	position:relative;	
	width:100px;
	text-align:center;	
	padding:5px 10px;
	margin:20px auto auto 20px;
	}
input.tabs + label img {position:absolute;
	 left:0; 
	 top:0; 
	 width:100%; 
	 height:100%; 
	 cursor:pointer;}
.tabcontent {	 
	background:#fff; 
	position:relative; 
	z-index:10;
	margin-top:30px; 
	clear:left; 
	padding:20px;
	}
.tabcontent p {padding:0 0 5px 0; margin:0; font:normal 12px/20px arial, sans-serif; color:#333;}
.tabcontent h4 {padding:0 0 10px 0; margin:0; font:bold 14px/25px arial, sans-serif; color:#000;}
.tabcontent {display:none;color:#000;}
input.tabs:checked + label {background-color:#fff; border-bottom:1px solid #fff; color:#000; z-index:20;}
input#tab1:checked ~ section#view1 {display:block;}
input#tab2:checked ~ section#view2 {display:block;}
input#tab3:checked ~ section#view3 {display:block;}
input#tab4:checked ~ section#view4 {display:block;}
input#tab5:checked ~ section#view5 {display:block;}
.title-div{
	border-top: 1px solid #F0F0F0;
    color: #333333;
    height: 26px;
    margin-top: 16px;}
.title-div strong{
	background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font-size: 14px;
    margin-top: -14px;
    padding: 3px 10px 3px 0;}
table tr td input{
	width:180px;
	height:28px;
	border:1px solid rgba(0,0,0,0.2);
	font-size:14px;	
	margin-top: 6px;
	margin-bottom:6px;
}
table tr td  label input{}