/* CSS Document */
*{margin:0 auto;
	padding:0 auto;}

#content{
	margin-left:200px;
	
	}
.system{
	position:relative;
	margin-top:30px;
	float:left;
	height:250px;
	width:49%;
	border:1px solid black;
	}
.admin{margin:30px auto 0 5px;
	float:left;
	height:250px;
	width:49%;
	border:1px solid black;
	}
.website{margin-top:30px;
	float:left;
	height:250px;
	width:49%;
	border:1px solid black;
	}
.server{margin:30px auto 0 5px;
	float:left;
	height:250px;
	width:49%;
	border:1px solid black;
	}
